* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  text-decoration: none;
}

#homeCard {
  position:fixed;
  width: 100%;
  height: 900px;
  align-items: center;
  background-color: rgb(108, 154, 189);
}
#homeImg {
  margin-left: 16%;
  border-radius: 8px;
  box-shadow: 8px 8px 10px rgb(40, 68, 97) ;
}

#card1 {
  margin-left: 30%;
  margin-top: 5%;
  padding-top: 2%;
  border: rgb(184, 189, 88) solid;
  border-width: 4px;
  opacity: .9;
  width:750px;
  border-radius: 20%;
  background-image: url(https://th.bing.com/th/id/R.a9b4560339e974252e3a3373c7609ed0?rik=JEAHd9OpP%2bdIPQ&pid=ImgRaw&r=0);
}

#homeBody {
  position: relative;
  text-align: center;
}

#createActCard {
  position:fixed;
  width: 100%;
  height: 900px;
  align-items: center;
  background-image: url(https://wallpapercave.com/wp/wp4223006.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#card2 {
  position:fixed;
  margin-left: 2%;
  margin-top: 8%;
  opacity: .9;
  width:550px;
  margin-left: 38%;
}

.card-header {
  font-size: larger;
  font-weight: bold;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  width:8rem;
  background-color: rgba(228, 96, 100, 0.951);
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 110%;
  border-radius: 5%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
.nav-link:active {
  color: rgb(3, 179, 179) !important;
}

#depositBack {
  position:fixed;
  width: 100%;
  height: 900px;
  align-items: center;
  background-image: url(https://th.bing.com/th/id/R.7efae7f6dce13596b70641cc2b274431?rik=plrNKeyDBLtomg&riu=http%3a%2f%2fwww.wallpaperup.com%2fuploads%2fwallpapers%2f2014%2f07%2f10%2f393089%2f7efae7f6dce13596b70641cc2b274431.jpg&ehk=feJ4miDAHkyimErOmnjH%2b69C44ukr9vj%2fCUUB9bQRAs%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
  background-repeat: no-repeat;
}

.depositCard {
  position:fixed;
  margin-left: 2%;
  margin-top: 2%;
  opacity: .8;
  width:550px;
  margin-left: 2%;
}

#withdrawBack {
  position:fixed;
  width: 100%;
  height: 900px;
  align-items: center;
  background-image: url(https://th.bing.com/th/id/R.8ceae84593e74c458df8752526c4635a?rik=cQ5Se1rk2RYFeA&pid=ImgRaw&r=0);
  background-size: cover;
  background-repeat: no-repeat;
}

#withdrawCard {
  position:fixed;
  margin-left: 2%;
  margin-top: 2%;
  opacity: .8;
  width:550px;
  margin-left: 2%;
}

#dataCard {
  width: 800px;
  border-width: 5px;
  margin-left: 30%;
  margin-top: 5%;
  opacity: .9;
}

#dataBack {
  position:fixed;
  width: 100%;
  height: 900px;
  align-items: center;
  background-image: url(https://th.bing.com/th/id/R.a9b4560339e974252e3a3373c7609ed0?rik=JEAHd9OpP%2bdIPQ&pid=ImgRaw&r=0);
  background-size: cover;
  background-repeat: no-repeat;
}